<app-side-nav>
    <h2 class="text-center text-2xl font-bold font-azonix text-[#878787]">
        {{ 'category.editProduct.info' | translate }}
    </h2>
    <div class="edit-layout mx-auto flex items-stretch justify-center gap-8">
        <div class="edit-primary flex flex-col items-center gap-4 my-6">
            <div class="w-full flex flex-col items-start justify-start py-4 px-8 rounded-lg" [ngClass]="{
                'bg-gray_dark': isDarkMode$ | async,
                'bg-light_card_bg': !(isDarkMode$ | async)
            }">
                <h4 class="text-lg font-semibold font-roboto" [ngClass]="{
                    'text-light_orange': isDarkMode$ | async,
                    'text-orange': !(isDarkMode$ | async)
                }">{{ 'category.editProduct.productName' | translate }}</h4>
                <h1 class="text-2xl font-bold font-azonix text-orange" [class.out-of-stock-name]="isOutOfStock(product?.inventoryCount)">{{ product?.name }}</h1>
            </div>
            <div class="edit-fields-card w-full flex flex-col items-start py-8 rounded-lg" [ngClass]="{
                'bg-gray_dark': isDarkMode$ | async,
                'bg-light_card_bg': !(isDarkMode$ | async)
            }">
                <div class="product-fields-grid w-full py-4">
                    <label class="text-lg capitalize font-medium font-roboto text-orange" for="name">
                        {{ 'category.editProduct.productName' | translate }}
                    </label>
                    <div class="field-wrapper w-full px-4 py-1 rounded-md" [ngClass]="{
                              'border border-orange bg-light_bg text-orange': !(isDarkMode$ | async),
                              'border border-gray bg-gray_dark': (isDarkMode$ | async)
                            }">
                            <input id="name" type="text"
                                class="w-full rounded-md p-2 bg-transparent border border-none focus:outline-none"
                                [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" [ngClass]="{
                                    'text-orange': !(isDarkMode$ | async),
                                    'text-light_orange ': (isDarkMode$ | async)
                                }" />
                    </div>

                    <label class="text-lg capitalize font-medium font-roboto text-orange" for="code">
                        {{ 'category.editProduct.code' | translate }}
                    </label>
                    <div class="field-wrapper w-full px-4 py-1 rounded-md" [ngClass]="{
                              'border border-orange bg-light_bg text-orange': !(isDarkMode$ | async),
                              'border border-gray bg-gray_dark': (isDarkMode$ | async)
                            }">
                            <input id="code" type="text"
                                class="w-full rounded-md p-2 bg-transparent border border-none focus:outline-none"
                                [(ngModel)]="product.code" [ngModelOptions]="{standalone: true}" [ngClass]="{
                                    'text-orange': !(isDarkMode$ | async),
                                    'text-light_orange ': (isDarkMode$ | async)
                                }" />
                    </div>

                    <label class="text-lg capitalize font-medium font-roboto text-orange" for="inventoryCount">
                        {{ 'category.editProduct.inventoryCount' | translate }}
                    </label>
                    <div class="field-wrapper w-full px-4 py-1 rounded-md" [ngClass]="{
                              'border border-orange bg-light_bg text-orange': !(isDarkMode$ | async),
                              'border border-gray bg-gray_dark': (isDarkMode$ | async)
                            }">
                            <input id="inventoryCount" type="text"
                                class="w-full rounded-md p-2 bg-transparent border border-none focus:outline-none"
                                [(ngModel)]="product.inventoryCount" [ngModelOptions]="{standalone: true}" [ngClass]="{
                                    'text-orange': !(isDarkMode$ | async),
                                    'text-light_orange ': (isDarkMode$ | async)
                                }" />
                    </div>

                    <label class="text-lg capitalize font-medium font-roboto text-orange" for="newInventory">
                        {{ 'category.editProduct.newInventory' | translate }}
                    </label>
                    <div class="field-wrapper w-full px-4 py-1 rounded-md" [ngClass]="{
                              'border border-orange bg-light_bg text-orange': !(isDarkMode$ | async),
                              'border border-gray bg-gray_dark': (isDarkMode$ | async)
                            }">
                            <input id="newInventory" type="number" min="0" step="1"
                                class="w-full rounded-md p-2 bg-transparent border border-none focus:outline-none"
                                [(ngModel)]="newInventory" [ngModelOptions]="{standalone: true}" [ngClass]="{
                                    'text-orange': !(isDarkMode$ | async),
                                    'text-light_orange ': (isDarkMode$ | async)
                                }" />
                    </div>

                    <label class="text-lg capitalize font-medium font-roboto text-orange" for="wholesalePrice">
                        {{ 'category.editProduct.wholesalePrice' | translate }}
                    </label>
                    <div class="field-wrapper w-full px-4 py-1 rounded-md" [ngClass]="{
                              'border border-orange bg-light_bg text-orange': !(isDarkMode$ | async),
                              'border border-gray bg-gray_dark': (isDarkMode$ | async)
                            }">
                            <input id="wholesalePrice" type="text"
                                class="w-full rounded-md p-2 bg-transparent border border-none focus:outline-none"
                                [(ngModel)]="product.wholesalePrice" [ngModelOptions]="{standalone: true}" [ngClass]="{
                                    'text-orange': !(isDarkMode$ | async),
                                    'text-light_orange ': (isDarkMode$ | async)
                                }" />
                    </div>

                    <label class="text-lg capitalize font-medium font-roboto text-orange" for="retailPrice">
                        {{ 'category.editProduct.retailPrice' | translate }}
                    </label>
                    <div class="field-wrapper w-full px-4 py-1 rounded-md" [ngClass]="{
                              'border border-orange bg-light_bg text-orange': !(isDarkMode$ | async),
                              'border border-gray bg-gray_dark': (isDarkMode$ | async)
                            }">
                            <input id="retailPrice" type="text"
                                class="w-full rounded-md p-2 bg-transparent border border-none focus:outline-none"
                                [(ngModel)]="product.retailPrice" [ngModelOptions]="{standalone: true}" [ngClass]="{
                                    'text-orange': !(isDarkMode$ | async),
                                    'text-light_orange ': (isDarkMode$ | async)
                                }" />
                    </div>

                    <label class="text-lg capitalize font-medium font-roboto text-orange" for="soldItemCount">
                        {{ 'category.editProduct.soldItemCount' | translate }}
                    </label>
                    <div class="field-wrapper w-full px-4 py-1 rounded-md" [ngClass]="{
                              'border border-orange bg-light_bg text-orange': !(isDarkMode$ | async),
                              'border border-gray bg-gray_dark': (isDarkMode$ | async)
                            }">
                            <input id="soldItemCount" type="text"
                                class="w-full rounded-md p-2 bg-transparent border border-none focus:outline-none"
                                [(ngModel)]="product.soldItemCount" [ngModelOptions]="{standalone: true}" [ngClass]="{
                                    'text-orange': !(isDarkMode$ | async),
                                    'text-light_orange ': (isDarkMode$ | async)
                                }" />
                    </div>
                </div>
                
            </div>
        </div>
        <div class="edit-image-panel flex flex-col items-center justify-center gap-4 my-6 rounded-lg" [ngClass]="{
                'bg-gray_dark': isDarkMode$ | async,
                'bg-light_card_bg': !(isDarkMode$ | async)
            }">
            <img [src]="product?.image" alt="product" class="product-image rounded-lg">
            <input type="file" (change)="onBasicUploadAuto($event)" accept="image/*" class="hidden" #fileInput>
            <button class="w-max text-xl font-semibold font-roboto capitalize text-[#878787] bg-dark rounded-md py-1 px-12" (click)="fileInput.click()">
                Change
            </button>
        </div>
    </div>
    <div class="w-full flex items-center justify-between my-6 mx-auto px-12">
        <button class="px-8 py-1 text-xl font-semibold font-roboto capitalize bg-red text-dark rounded-md" (click)="showDeleteDialog()">
            {{ 'category.deleteProduct.title' | translate }}
        </button>
        <button class="px-8 py-1 text-xl font-semibold font-roboto capitalize disabled:opacity-50 disabled:cursor-wait bg-orange text-dark rounded-md" [disabled]="loading" (click)="updateProduct()">
            {{ !isLoading ? ('category.editProduct.actions.save' | translate) : ('actions.loading' | translate) }}
        </button>
    </div>

    <p-dialog [(visible)]="deleteVisible" styleClass="!border-0" [style]="{ width: '50vw' }">
        <ng-template #headless>
            <div class="flex flex-col px-8 py-8 gap-6 rounded-2xl bg-[#393939]">
                <div class="w-full flex items-center justify-center">
                    <app-warn></app-warn>
                </div>
                <div class="flex items-center justify-center">
                    <h1 class="text-4xl font-bold font-azonix text-orange">{{ 'category.deleteProduct.title' | translate }}</h1>
                </div>
                <h6 class="text-lg text-center font-semibold font-roboto text-light_orange">
                    {{ 'category.deleteProduct.deleteMessage' | translate }}
                </h6>
                <div class="mx-auto flex items-center justify-between gap-8">
                    <button (click)="closeDialog()"
                        styleClass="" [style]="{ fontWeight: 600 }"
                        class="w-max px-4 py-2 uppercase text-2xl font-semibold rounded-md text-gray_dark bg-orange font-roboto border border-white/30">
                        {{ 'category.deleteProduct.actions.cancelButton' | translate }}
                    </button>
                    <button
                        class="px-4 py-2 w-max uppercase text-xl font-semibold rounded-md text-light_orange bg-red font-roboto border border-white/30" (click)="deleteProduct()" [disabled]="isLoading"
                        >
                        {{ !isLoading ? ('category.deleteProduct.actions.deleteButton' | translate) : ('actions.loading' | translate) }}
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="errorVisible" [modal]="true" [closable]="true" [dismissableMask]="true"
        [style]="{ width: '400px' }" styleClass="!border-0">
        <ng-template #headless>
            <div class="flex flex-col gap-4 p-6 rounded-2xl" [ngClass]="{
                    'bg-gray': isDarkMode$ | async,
                    'bg-light_card_bg': !(isDarkMode$ | async)
                }">
                <app-error-icon class="mx-auto"></app-error-icon>
                <p class="text-center" [ngClass]="{ 
                        'text-light_orange': isDarkMode$ | async,
                        'text-gray_dark': !(isDarkMode$ | async)
                     }">{{ errorMessage }}</p>
                <div class="flex justify-center mt-4">
                    <button type="button" class="px-6 py-2 rounded-lg text-white bg-[#FF9933] hover:opacity-90"
                        (click)="errorVisible = false">
                        OK
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</app-side-nav>
